# Ex2 -  Getting and knowing your data

In [15]:
#Step 1. Import the necessary libraries
import pandas as pd

#Step 2. Import the dataset from this address.f""
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

#Step 3. Assign it to a variable called chipo.
chipo=pd.read_csv(url, sep='\t')

#Step 4. See the first 10 entries
print(chipo.head(10))

#Step 5. What is the number of observations in the dataset?
num_obs=len(chipo)
print(f"Number of observations in the following dataset is :{num_obs}")

#Step 6. What is the number of columns in the dataset?
num_col=len(chipo.columns)
print(f"Number of columns in the following dataset is :{num_col}")

#Step 7. Print the name of all the columns.
print(f"Name of the columns in the dataset :{chipo.columns}")

#Step 8. How is the dataset indexed?
print(f"Indexing of the dataset :{chipo.index}")

#Step 9. Which was the most-ordered item?
most_ord_itm=chipo['item_name'].value_counts().idxmax()
print(f"The most ordered item is :{most_ord_itm}")

#Step 10. For the most-ordered item, how many items were ordered?
most_ord_itm_quan=chipo[chipo['item_name']==most_ord_itm]['quantity'].sum()
print(f"The number of {most_ord_itm} ordered : {most_ord_itm_quan}")

#Step 11. What was the most ordered item in the choice_description column?
most_ord_itm_des=chipo['choice_description'].value_counts().idxmax()
print(f"The most ordered item in choice description column is :{most_ord_itm_des}")

#Step 12. How many items were orderd in total?
total_items_ordered=chipo['quantity'].sum()
print(f"Total number of items ordered :{total_items_ordered}")

#Step 13. Turn the item price into a float
#Step 13.a. Check the item price type
print("\nStep 13.a. Item price type:")
print(chipo['item_price'].dtype)
#Step 13.b. Create a lambda function and change the type of item price
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x[1:]))
#Step 13.c. Check the item price type
print("\nStep 13.c. Item price type after conversion:")
print(chipo['item_price'].dtype)

#Step 14. How much was the revenue for the period in the dataset?
revenue = (chipo['quantity'] * chipo['item_price']).sum()
print(f"\nStep 14. Revenue for the period: ${revenue:.2f}")

# Step 15. How many orders were made in the period?
total_orders = chipo['order_id'].nunique()
print(f"\nStep 15. Total orders made: {total_orders}")

# Step 16. What is the average revenue amount per order?
average_revenue_per_order = revenue / total_orders
print(f"\nStep 16. Average revenue amount per order: ${average_revenue_per_order:.2f}")

# Step 17. How many different items are sold?
unique_items_sold = chipo['item_name'].nunique()
print(f"\nStep 17. Number of different items sold: {unique_items_sold}")

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl
5         3         1                           Chicken Bowl
6         3         1                          Side of Chips
7         4         1                          Steak Burrito
8         4         1                       Steak Soft Tacos
9         5         1                          Steak Burrito

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
5  [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98
6                                                NaN     $1.69
7  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75
8  [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...     $9.25
9  [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...     $9.25
Number of observations in the following dataset is :4622
Number of columns in the following dataset is :5
Name of the columns in the dataset :Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')
Indexing of the dataset :RangeIndex(start=0, stop=4622, step=1)
The most ordered item is :Chicken Bowl
The number of Chicken Bowl ordered : 761
The most ordered item in choice description column is :[Diet Coke]
Total number of items ordered :4972

Step 13.a. Item price type:
object

Step 13.c. Item price type after conversion:
float64

Step 14. Revenue for the period: $39237.02

Step 15. Total orders made: 1834

Step 16. Average revenue amount per order: $21.39

Step 17. Number of different items sold: 50

# Ex3 - Getting and Knowing your Data

In [1]:
# Step 1. Import the necessary libraries
import pandas as pd

# Step 2. Import the dataset from the provided address
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user"
users = pd.read_csv(url, sep='|')

# Step 3. Assign it to a variable called users and use the 'user_id' as index
users = users.set_index('user_id')

# Step 4. See the first 25 entries
print("First 25 entries:")
print(users.head(25))

# Step 5. See the last 10 entries
print("\nLast 10 entries:")
print(users.tail(10))

# Step 6. What is the number of observations in the dataset?
print("\nNumber of observations:", len(users))

# Step 7. What is the number of columns in the dataset?
print("\nNumber of columns:", len(users.columns))

# Step 8. Print the name of all the columns
print("\nColumn names:")
print(users.columns)

# Step 9. How is the dataset indexed?
print("\nDataset indexing:")
print(users.index)

# Step 10. What is the data type of each column?
print("\nData types of each column:")
print(users.dtypes)

# Step 11. Print only the occupation column
print("\nOccupation column:")
print(users['occupation'])

# Step 12. How many different occupations are in this dataset?
print("\nNumber of different occupations:", users['occupation'].nunique())

# Step 13. What is the most frequent occupation?
print("\nMost frequent occupation:")
print(users['occupation'].value_counts().idxmax())

# Step 14. Summarize the DataFrame
print("\nDataFrame summary:")
print(users.describe())

# Step 15. Summarize all the columns
print("\nSummary of all columns:")
print(users.describe(include='all'))

# Step 16. Summarize only the occupation column
print("\nSummary of occupation column:")
print(users['occupation'].describe())

# Step 17. What is the mean age of users?
print("\nMean age of users:", users['age'].mean())

# Step 18. What is the age with the least occurrence?
print("\nAge with least occurrence:")
print(users['age'].value_counts().idxmin())

First 25 entries:
         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
6         42      M      executive    98101
7         57      M  administrator    91344
8         36      M  administrator    05201
9         29      M        student    01002
10        53      M         lawyer    90703
11        39      F          other    30329
12        28      F          other    06405
13        47      M       educator    29206
14        45      M      scientist    55106
15        49      F       educator    97301
16        21      M  entertainment    10309
17        30      M     programmer    06355
18        35      F          other    37212
19        40      M      librarian    02138
20        42      F      homemaker    95660
21        26      M         writer    30068
22        25      M         writer    40206
23        30      F         artist    48197
24        21      F         artist    94533
25        39      M       engineer    55107

Last 10 entries:
         age gender     occupation zip_code
user_id
934       61      M       engineer    22902
935       42      M         doctor    66221
936       24      M          other    32789
937       48      M       educator    98072
938       38      F     technician    55038
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

Number of observations: 943

Number of columns: 4

Column names:
Index(['age', 'gender', 'occupation', 'zip_code'], dtype='object')

Dataset indexing:
Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
       ...
       934, 935, 936, 937, 938, 939, 940, 941, 942, 943],
      dtype='int64', name='user_id', length=943)

Data types of each column:
age            int64
gender        object
occupation    object
zip_code      object
dtype: object

Occupation column:
user_id
1         technician
2              other
3             writer
4         technician
5              other
           ...
939          student
940    administrator
941          student
942        librarian
943          student
Name: occupation, Length: 943, dtype: object

Number of different occupations: 21

Most frequent occupation:
student

DataFrame summary:
              age
count  943.000000
mean    34.051962
std     12.192740
min      7.000000
25%     25.000000
50%     31.000000
75%     43.000000
max     73.000000

Summary of all columns:
               age gender occupation zip_code
count   943.000000    943        943      943
unique         NaN      2         21      795
top            NaN      M    student    55414
freq           NaN    670        196        9
mean     34.051962    NaN        NaN      NaN
std      12.192740    NaN        NaN      NaN
min       7.000000    NaN        NaN      NaN
25%      25.000000    NaN        NaN      NaN
50%      31.000000    NaN        NaN      NaN
75%      43.000000    NaN        NaN      NaN
max      73.000000    NaN        NaN      NaN

Summary of occupation column:
count         943
unique         21
top       student
freq          196
Name: occupation, dtype: object

Mean age of users: 34.05196182396607

Age with least occurrence:
7

# Ex - 4

In [10]:
# Step 1. Go to https://www.kaggle.com/openfoodfacts/worldfood-facts/data
# Step 2. Download the dataset to your computer and unzip it.
# Step 3. Use the tsv file and assign it to a dataframe called food
import pandas as pd

# Assuming the file is named 'food_data.tsv' and located in the current directory
file_path = "food_data.tsv"
food = pd.read_csv('C:\\Users\\HP\\Downloads\\food_data.tsv',sep='\t')

# Step 4. See the first 5 entries
print("First 5 entries:")
print(food.head())

# Step 5. What is the number of observations in the dataset?
print("\nNumber of observations:", len(food))

# Step 6. What is the number of columns in the dataset?
print("\nNumber of columns:", len(food.columns))

# Step 7. Print the name of all the columns.
print("\nColumn names:")
print(food.columns)

# Step 8. What is the name of 105th column?
column_105_name = food.columns[104]  # Since Python is zero-indexed
print("\nName of the 105th column:", column_105_name)

# Step 9. What is the type of the observations of the 105th column?
column_105_type = food.dtypes[104]  # Again, Python is zero-indexed
print("\nType of observations in the 105th column:", column_105_type)

# Step 10. How is the dataset indexed?
print("\nDataset indexing:")
print(food.index)

# Step 11. What is the product name of the 19th observation?
product_name_19th = food.loc[18, 'product_name']  # Since Python is zero-indexed
print("\nProduct name of the 19th observation:", product_name_19th)

C:\Users\HP\AppData\Local\Temp\ipykernel_2324\649318825.py:8: DtypeWarning: Columns (0,3,5,19,20,24,25,26,27,28,36,37,38,39,48) have mixed types. Specify dtype option on import or set low_memory=False.
  food = pd.read_csv('C:\\Users\\HP\\Downloads\\food_data.tsv',sep='\t')

First 5 entries:
    code                                                url  \
0   3087  http://world-en.openfoodfacts.org/product/0000...
1   4530  http://world-en.openfoodfacts.org/product/0000...
2   4559  http://world-en.openfoodfacts.org/product/0000...
3  16087  http://world-en.openfoodfacts.org/product/0000...
4  16094  http://world-en.openfoodfacts.org/product/0000...

                      creator   created_t      created_datetime  \
0  openfoodfacts-contributors  1474103866  2016-09-17T09:17:46Z
1             usda-ndb-import  1489069957  2017-03-09T14:32:37Z
2             usda-ndb-import  1489069957  2017-03-09T14:32:37Z
3             usda-ndb-import  1489055731  2017-03-09T10:35:31Z
4             usda-ndb-import  1489055653  2017-03-09T10:34:13Z

  last_modified_t last_modified_datetime                    product_name  \
0      1474103893   2016-09-17T09:18:13Z              Farine de blé noir
1      1489069957   2017-03-09T14:32:37Z  Banana Chips Sweetened (Whole)
2      1489069957   2017-03-09T14:32:37Z                         Peanuts
3      1489055731   2017-03-09T10:35:31Z          Organic Salted Nut Mix
4      1489055653   2017-03-09T10:34:13Z                 Organic Polenta

  generic_name quantity  ... fruits-vegetables-nuts_100g  \
0          NaN      1kg  ...                         NaN
1          NaN      NaN  ...                         NaN
2          NaN      NaN  ...                         NaN
3          NaN      NaN  ...                         NaN
4          NaN      NaN  ...                         NaN

  fruits-vegetables-nuts-estimate_100g collagen-meat-protein-ratio_100g  \
0                                  NaN                              NaN
1                                  NaN                              NaN
2                                  NaN                              NaN
3                                  NaN                              NaN
4                                  NaN                              NaN

  cocoa_100g chlorophyl_100g carbon-footprint_100g nutrition-score-fr_100g  \
0        NaN             NaN                   NaN                     NaN
1        NaN             NaN                   NaN                    14.0
2        NaN             NaN                   NaN                     0.0
3        NaN             NaN                   NaN                    12.0
4        NaN             NaN                   NaN                     NaN

  nutrition-score-uk_100g glycemic-index_100g water-hardness_100g
0                     NaN                 NaN                 NaN
1                    14.0                 NaN                 NaN
2                     0.0                 NaN                 NaN
3                    12.0                 NaN                 NaN
4                     NaN                 NaN                 NaN

[5 rows x 163 columns]

Number of observations: 356027

Number of columns: 163

Column names:
Index(['code', 'url', 'creator', 'created_t', 'created_datetime',
       'last_modified_t', 'last_modified_datetime', 'product_name',
       'generic_name', 'quantity',
       ...
       'fruits-vegetables-nuts_100g', 'fruits-vegetables-nuts-estimate_100g',
       'collagen-meat-protein-ratio_100g', 'cocoa_100g', 'chlorophyl_100g',
       'carbon-footprint_100g', 'nutrition-score-fr_100g',
       'nutrition-score-uk_100g', 'glycemic-index_100g',
       'water-hardness_100g'],
      dtype='object', length=163)

Name of the 105th column: -glucose_100g

Type of observations in the 105th column: float64

Dataset indexing:
RangeIndex(start=0, stop=356027, step=1)

Product name of the 19th observation: Lotus Organic Brown Jasmine Rice

# Ex1 - Filtering and Sorting Data

In [12]:
# Step 1. Import the necessary libraries
import pandas as pd

# Step 2. Import the dataset from the provided address
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
# Step 3. Assign it to a variable called chipo
chipo = pd.read_csv(url, sep='\t')

# Step 4. How many products cost more than $10.00?
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x[1:]))
products_over_10 = chipo[chipo['item_price'] > 10]
num_products_over_10 = len(products_over_10)
print("Number of products costing more than $10.00:", num_products_over_10)

# Step 5. What is the price of each item? Print a DataFrame with only two columns item_name and item_price
item_prices = chipo[['item_name', 'item_price']].drop_duplicates()
print("\nItem prices:")
print(item_prices)

# Step 6. Sort by the name of the item
sorted_chipo = chipo.sort_values(by='item_name')

# Step 7. What was the quantity of the most expensive item ordered?
most_expensive_item = chipo.loc[chipo['item_price'].idxmax()]
print("\nQuantity of the most expensive item ordered:", most_expensive_item['quantity'])

# Step 8. How many times was a Veggie Salad Bowl ordered?
veggie_salad_bowl_orders = chipo[chipo['item_name'] == 'Veggie Salad Bowl']
num_veggie_salad_bowl_orders = len(veggie_salad_bowl_orders)
print("\nNumber of times a Veggie Salad Bowl was ordered:", num_veggie_salad_bowl_orders)

# Step 9. How many times did someone order more than one Canned Soda?
more_than_one_canned_soda_orders = chipo[(chipo['item_name'] == 'Canned Soda') & (chipo['quantity'] > 1)]
num_more_than_one_canned_soda_orders = len(more_than_one_canned_soda_orders)
print("\nNumber of times someone ordered more than one Canned Soda:", num_more_than_one_canned_soda_orders)

Number of products costing more than $10.00: 1130

Item prices:
                                  item_name  item_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl       16.98
...                                     ...         ...
4237                    Chips and Guacamole        8.50
4354                       Steak Soft Tacos       18.50
4489                    Chips and Guacamole       17.80
4509                                  Chips        1.99
4510                          Barbacoa Bowl       11.49

[209 rows x 2 columns]

Quantity of the most expensive item ordered: 15

Number of times a Veggie Salad Bowl was ordered: 18

Number of times someone ordered more than one Canned Soda: 20

# Ex2 - Filtering and Sorting Data

In [60]:
# Step 1. Import the necessary libraries
import pandas as pd

# Step 2. Import the dataset from the provided address
url = "https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/02_Filtering_%26_Sorting/Euro12/Euro_2012_stats_TEAM.csv"

# Step 3. Assign it to a variable called euro12
euro12 = pd.read_csv(url)
euro12

# Step 4. Select only the Goal column
goals = euro12['Goals']

# Step 5. How many teams participated in the Euro2012?
num_teams = euro12['Team'].nunique()

# Step 6. What is the number of columns in the dataset?
num_columns = euro12.shape[1]

# Step 7. View only the columns Team, Yellow Cards, and Red Cards and assign them to a dataframe called discipline
discipline = euro12[['Team', 'Yellow Cards', 'Red Cards']]

# Step 8. Sort the teams by Red Cards, then by Yellow Cards
discipline_sorted = discipline.sort_values(by=['Red Cards', 'Yellow Cards'], ascending=False)

# Step 9. Calculate the mean Yellow Cards given per Team
mean_yellow_cards = discipline['Yellow Cards'].mean()

# Step 10. Filter teams that scored more than 6 goals
high_scoring_teams = euro12[euro12['Goals'] > 6]

# Step 11. Select the teams that start with G
teams_starting_with_G = euro12[euro12['Team'].str.startswith('G')]

# Step 12. Select the first 7 columns
first_7_columns = euro12.iloc[:, :7]

# Step 13. Select all columns except the last 3
all_except_last_3_columns = euro12.iloc[:, :-3]

# Step 14. Present only the Shooting Accuracy from England, Italy, and Russia
shooting_accuracy = euro12.loc[euro12['Team'].isin(['England', 'Italy', 'Russia']), ['Team', 'Shooting Accuracy']]

# Step 15. Print all objects
print("Goals:\n", goals)
print("\nNumber of teams:", num_teams)
print("\nNumber of columns:", num_columns)
print("\nDiscipline:\n", discipline)
print("\nDiscipline Sorted:\n", discipline_sorted)
print("\nMean Yellow Cards per Team:", mean_yellow_cards)
print("\nHigh Scoring Teams:\n", high_scoring_teams)
print("\nTeams Starting with 'G':\n", teams_starting_with_G)
print("\nFirst 7 Columns:\n", first_7_columns)
print("\nAll Columns Except Last 3:\n", all_except_last_3_columns)
print("\nShooting Accuracy for England, Italy, and Russia:\n", shooting_accuracy)

Goals:
 0      4
1      4
2      4
3      5
4      3
5     10
6      5
7      6
8      2
9      2
10     6
11     1
12     5
13    12
14     5
15     2
Name: Goals, dtype: int64

Number of teams: 16

Number of columns: 35

Discipline:
                    Team  Yellow Cards  Red Cards
0               Croatia             9          0
1        Czech Republic             7          0
2               Denmark             4          0
3               England             5          0
4                France             6          0
5               Germany             4          0
6                Greece             9          1
7                 Italy            16          0
8           Netherlands             5          0
9                Poland             7          1
10             Portugal            12          0
11  Republic of Ireland             6          1
12               Russia             6          0
13                Spain            11          0
14               Sweden             7          0
15              Ukraine             5          0

Discipline Sorted:
                    Team  Yellow Cards  Red Cards
6                Greece             9          1
9                Poland             7          1
11  Republic of Ireland             6          1
7                 Italy            16          0
10             Portugal            12          0
13                Spain            11          0
0               Croatia             9          0
1        Czech Republic             7          0
14               Sweden             7          0
4                France             6          0
12               Russia             6          0
3               England             5          0
8           Netherlands             5          0
15              Ukraine             5          0
2               Denmark             4          0
5               Germany             4          0

Mean Yellow Cards per Team: 7.4375

High Scoring Teams:
        Team  Goals  Shots on target  Shots off target Shooting Accuracy  \
5   Germany     10               32                32             47.8%
13    Spain     12               42                33             55.9%

   % Goals-to-shots  Total shots (inc. Blocked)  Hit Woodwork  Penalty goals  \
5             15.6%                          80             2              1
13            16.0%                         100             0              1

    Penalties not scored  ...  Saves made  Saves-to-shots ratio  Fouls Won  \
5                      0  ...          10                 62.6%         63
13                     0  ...          15                 93.8%        102

   Fouls Conceded  Offsides  Yellow Cards  Red Cards  Subs on  Subs off  \
5              49        12             4          0       15        15
13             83        19            11          0       17        17

    Players Used
5             17
13            18

[2 rows x 35 columns]

Teams Starting with 'G':
       Team  Goals  Shots on target  Shots off target Shooting Accuracy  \
5  Germany     10               32                32             47.8%
6   Greece      5                8                18             30.7%

  % Goals-to-shots  Total shots (inc. Blocked)  Hit Woodwork  Penalty goals  \
5            15.6%                          80             2              1
6            19.2%                          32             1              1

   Penalties not scored  ...  Saves made  Saves-to-shots ratio  Fouls Won  \
5                     0  ...          10                 62.6%         63
6                     1  ...          13                 65.1%         67

  Fouls Conceded  Offsides  Yellow Cards  Red Cards  Subs on  Subs off  \
5             49        12             4          0       15        15
6             48        12             9          1       12        12

   Players Used
5            17
6            20

[2 rows x 35 columns]

First 7 Columns:
                    Team  Goals  Shots on target  Shots off target  \
0               Croatia      4               13                12
1        Czech Republic      4               13                18
2               Denmark      4               10                10
3               England      5               11                18
4                France      3               22                24
5               Germany     10               32                32
6                Greece      5                8                18
7                 Italy      6               34                45
8           Netherlands      2               12                36
9                Poland      2               15                23
10             Portugal      6               22                42
11  Republic of Ireland      1                7                12
12               Russia      5                9                31
13                Spain     12               42                33
14               Sweden      5               17                19
15              Ukraine      2                7                26

   Shooting Accuracy % Goals-to-shots  Total shots (inc. Blocked)
0              51.9%            16.0%                          32
1              41.9%            12.9%                          39
2              50.0%            20.0%                          27
3              50.0%            17.2%                          40
4              37.9%             6.5%                          65
5              47.8%            15.6%                          80
6              30.7%            19.2%                          32
7              43.0%             7.5%                         110
8              25.0%             4.1%                          60
9              39.4%             5.2%                          48
10             34.3%             9.3%                          82
11             36.8%             5.2%                          28
12             22.5%            12.5%                          59
13             55.9%            16.0%                         100
14             47.2%            13.8%                          39
15             21.2%             6.0%                          38

All Columns Except Last 3:
                    Team  Goals  Shots on target  Shots off target  \
0               Croatia      4               13                12
1        Czech Republic      4               13                18
2               Denmark      4               10                10
3               England      5               11                18
4                France      3               22                24
5               Germany     10               32                32
6                Greece      5                8                18
7                 Italy      6               34                45
8           Netherlands      2               12                36
9                Poland      2               15                23
10             Portugal      6               22                42
11  Republic of Ireland      1                7                12
12               Russia      5                9                31
13                Spain     12               42                33
14               Sweden      5               17                19
15              Ukraine      2                7                26

   Shooting Accuracy % Goals-to-shots  Total shots (inc. Blocked)  \
0              51.9%            16.0%                          32
1              41.9%            12.9%                          39
2              50.0%            20.0%                          27
3              50.0%            17.2%                          40
4              37.9%             6.5%                          65
5              47.8%            15.6%                          80
6              30.7%            19.2%                          32
7              43.0%             7.5%                         110
8              25.0%             4.1%                          60
9              39.4%             5.2%                          48
10             34.3%             9.3%                          82
11             36.8%             5.2%                          28
12             22.5%            12.5%                          59
13             55.9%            16.0%                         100
14             47.2%            13.8%                          39
15             21.2%             6.0%                          38

    Hit Woodwork  Penalty goals  Penalties not scored  ...  Clean Sheets  \
0              0              0                     0  ...             0
1              0              0                     0  ...             1
2              1              0                     0  ...             1
3              0              0                     0  ...             2
4              1              0                     0  ...             1
5              2              1                     0  ...             1
6              1              1                     1  ...             1
7              2              0                     0  ...             2
8              2              0                     0  ...             0
9              0              0                     0  ...             0
10             6              0                     0  ...             2
11             0              0                     0  ...             0
12             2              0                     0  ...             0
13             0              1                     0  ...             5
14             3              0                     0  ...             1
15             0              0                     0  ...             0

    Blocks  Goals conceded Saves made  Saves-to-shots ratio  Fouls Won  \
0       10               3         13                 81.3%         41
1       10               6          9                 60.1%         53
2       10               5         10                 66.7%         25
3       29               3         22                 88.1%         43
4        7               5          6                 54.6%         36
5       11               6         10                 62.6%         63
6       23               7         13                 65.1%         67
7       18               7         20                 74.1%        101
8        9               5         12                 70.6%         35
9        8               3          6                 66.7%         48
10      11               4         10                 71.5%         73
11      23               9         17                 65.4%         43
12       8               3         10                 77.0%         34
13       8               1         15                 93.8%        102
14      12               5          8                 61.6%         35
15       4               4         13                 76.5%         48

    Fouls Conceded  Offsides  Yellow Cards  Red Cards
0               62         2             9          0
1               73         8             7          0
2               38         8             4          0
3               45         6             5          0
4               51         5             6          0
5               49        12             4          0
6               48        12             9          1
7               89        16            16          0
8               30         3             5          0
9               56         3             7          1
10              90        10            12          0
11              51        11             6          1
12              43         4             6          0
13              83        19            11          0
14              51         7             7          0
15              31         4             5          0

[16 rows x 32 columns]

Shooting Accuracy for England, Italy, and Russia:
        Team Shooting Accuracy
3   England             50.0%
7     Italy             43.0%
12   Russia             22.5%

# Ex3 - Fictional Army - Filtering and Sorting

In [8]:
# Step 1. Import the necessary libraries
import pandas as pd

# Step 2. This is the data given as a dictionary
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'],
            'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'],
            'deaths': [523, 52, 25, 616, 43, 234, 523, 62, 62, 73, 37, 35],
            'battles': [5, 42, 2, 2, 4, 7, 8, 3, 4, 7, 8, 9],
            'size': [1045, 957, 1099, 1400, 1592, 1006, 987, 849, 973, 1005, 1099, 1523],
            'veterans': [1, 5, 62, 26, 73, 37, 949, 48, 48, 435, 63, 345],
            'readiness': [1, 2, 3, 3, 2, 1, 2, 3, 2, 1, 2, 3],
            'armored': [1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1],
            'deserters': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
            'origin': ['Arizona', 'California', 'Texas', 'Florida', 'Maine', 'Iowa', 'Alaska', 'Washington', 'Oregon', 'Wyoming', 'Louisana', 'Georgia']}

# Step 3. Create a dataframe and assign it to a variable called army
army = pd.DataFrame(raw_data)

# Step 4. Set the 'origin' column as the index of the dataframe
army.set_index('origin', inplace=True)

# Step 5. Print only the column veterans
print(army['veterans'])

# Step 6. Print the columns 'veterans' and 'deaths'
print(army[['veterans', 'deaths']])

# Step 7. Print the name of all the columns
print(army.columns)

# Step 8. Select the 'deaths', 'size' and 'deserters' columns from Maine and Alaska
print(army.loc[['Maine', 'Alaska'], ['deaths', 'size', 'deserters']])

# Step 9. Select the rows 3 to 7 and the columns 3 to 6
print(army.iloc[2:7, 2:6])

# Step 10. Select every row after the fourth row and all columns
print(army.iloc[4:])

# Step 11. Select every row up to the 4th row and all columns
print(army.iloc[:4])

# Step 12. Select the 3rd column up to the 7th column
print(army.iloc[:, 2:7])

# Step 13. Select rows where df.deaths is greater than 50
print(army[army['deaths'] > 50])

# Step 14. Select rows where df.deaths is greater than 500 or less than 50
print(army[(army['deaths'] > 500) | (army['deaths'] < 50)])

# Step 15. Select all the regiments not named "Dragoons"
print(army[army['regiment'] != 'Dragoons'])

# Step 16. Select the rows called Texas and Arizona
print(army.loc[['Texas', 'Arizona']])

# Step 17. Select the third cell in the row named Arizona
print(army.loc['Arizona'])

# Step 18. Select the third cell down in the column named deaths
print(army.iloc[2, 2])

origin
Arizona         1
California      5
Texas          62
Florida        26
Maine          73
Iowa           37
Alaska        949
Washington     48
Oregon         48
Wyoming       435
Louisana       63
Georgia       345
Name: veterans, dtype: int64
            veterans  deaths
origin
Arizona            1     523
California         5      52
Texas             62      25
Florida           26     616
Maine             73      43
Iowa              37     234
Alaska           949     523
Washington        48      62
Oregon            48      62
Wyoming          435      73
Louisana          63      37
Georgia          345      35
Index(['regiment', 'company', 'deaths', 'battles', 'size', 'veterans',
       'readiness', 'armored', 'deserters'],
      dtype='object')
        deaths  size  deserters
origin
Maine       43  1592          3
Alaska     523   987         24
         deaths  battles  size  veterans
origin
Texas        25        2  1099        62
Florida     616        2  1400        26
Maine        43        4  1592        73
Iowa        234        7  1006        37
Alaska      523        8   987       949
            regiment company  deaths  battles  size  veterans  readiness  \
origin
Maine       Dragoons     1st      43        4  1592        73          2
Iowa        Dragoons     1st     234        7  1006        37          1
Alaska      Dragoons     2nd     523        8   987       949          2
Washington  Dragoons     2nd      62        3   849        48          3
Oregon        Scouts     1st      62        4   973        48          2
Wyoming       Scouts     1st      73        7  1005       435          1
Louisana      Scouts     2nd      37        8  1099        63          2
Georgia       Scouts     2nd      35        9  1523       345          3

            armored  deserters
origin
Maine             0          3
Iowa              1          4
Alaska            0         24
Washington        1         31
Oregon            0          2
Wyoming           0          3
Louisana          1          2
Georgia           1          3
              regiment company  deaths  battles  size  veterans  readiness  \
origin
Arizona     Nighthawks     1st     523        5  1045         1          1
California  Nighthawks     1st      52       42   957         5          2
Texas       Nighthawks     2nd      25        2  1099        62          3
Florida     Nighthawks     2nd     616        2  1400        26          3

            armored  deserters
origin
Arizona           1          4
California        0         24
Texas             1         31
Florida           1          2
            deaths  battles  size  veterans  readiness
origin
Arizona        523        5  1045         1          1
California      52       42   957         5          2
Texas           25        2  1099        62          3
Florida        616        2  1400        26          3
Maine           43        4  1592        73          2
Iowa           234        7  1006        37          1
Alaska         523        8   987       949          2
Washington      62        3   849        48          3
Oregon          62        4   973        48          2
Wyoming         73        7  1005       435          1
Louisana        37        8  1099        63          2
Georgia         35        9  1523       345          3
              regiment company  deaths  battles  size  veterans  readiness  \
origin
Arizona     Nighthawks     1st     523        5  1045         1          1
California  Nighthawks     1st      52       42   957         5          2
Florida     Nighthawks     2nd     616        2  1400        26          3
Iowa          Dragoons     1st     234        7  1006        37          1
Alaska        Dragoons     2nd     523        8   987       949          2
Washington    Dragoons     2nd      62        3   849        48          3
Oregon          Scouts     1st      62        4   973        48          2
Wyoming         Scouts     1st      73        7  1005       435          1

            armored  deserters
origin
Arizona           1          4
California        0         24
Florida           1          2
Iowa              1          4
Alaska            0         24
Washington        1         31
Oregon            0          2
Wyoming           0          3
            regiment company  deaths  battles  size  veterans  readiness  \
origin
Arizona   Nighthawks     1st     523        5  1045         1          1
Texas     Nighthawks     2nd      25        2  1099        62          3
Florida   Nighthawks     2nd     616        2  1400        26          3
Maine       Dragoons     1st      43        4  1592        73          2
Alaska      Dragoons     2nd     523        8   987       949          2
Louisana      Scouts     2nd      37        8  1099        63          2
Georgia       Scouts     2nd      35        9  1523       345          3

          armored  deserters
origin
Arizona         1          4
Texas           1         31
Florida         1          2
Maine           0          3
Alaska          0         24
Louisana        1          2
Georgia         1          3
              regiment company  deaths  battles  size  veterans  readiness  \
origin
Arizona     Nighthawks     1st     523        5  1045         1          1
California  Nighthawks     1st      52       42   957         5          2
Texas       Nighthawks     2nd      25        2  1099        62          3
Florida     Nighthawks     2nd     616        2  1400        26          3
Oregon          Scouts     1st      62        4   973        48          2
Wyoming         Scouts     1st      73        7  1005       435          1
Louisana        Scouts     2nd      37        8  1099        63          2
Georgia         Scouts     2nd      35        9  1523       345          3

            armored  deserters
origin
Arizona           1          4
California        0         24
Texas             1         31
Florida           1          2
Oregon            0          2
Wyoming           0          3
Louisana          1          2
Georgia           1          3
           regiment company  deaths  battles  size  veterans  readiness  \
origin
Texas    Nighthawks     2nd      25        2  1099        62          3
Arizona  Nighthawks     1st     523        5  1045         1          1

         armored  deserters
origin
Texas          1         31
Arizona        1          4
regiment     Nighthawks
company             1st
deaths              523
battles               5
size               1045
veterans              1
readiness             1
armored               1
deserters             4
Name: Arizona, dtype: object
25

# Ex4 - GroupBy

In [45]:
# Step 1. Import the necessary libraries
import pandas as pd

# Step 2. Import the dataset from this address
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv'

# Step 3. Assign it to a variable called drinks
drinks = pd.read_csv(url)
print(drinks)

#Step 4.Which continent drinks more beer on average?
beer_by_continent = drinks.groupby('continent')['beer_servings'].mean()
continent_with_most_beer = beer_by_continent.idxmax()
print(f"The continent that drinks more beer on average is: {continent_with_most_beer}")

# Step 5. For each continent print the statistics for wine consumption
wine_stats = drinks.groupby('continent')['wine_servings'].describe()
print("Statistics for wine consumption by continent:")
print(wine_stats)

# Step 6. Print the mean alcohol consumption per continent for every column
mean_alcohol_by_continent = drinks.groupby('continent')['total_litres_of_pure_alcohol'].mean()
print("Mean alcohol consumption per continent for every column:")
print(mean_alcohol_by_continent)

#Step 7. Print the median alcohol consumption per continent for every column
mean_alcohol_by_continent = drinks.groupby('continent')['total_litres_of_pure_alcohol'].median()
print("Median alcohol consumption per continent for every column:")
print(mean_alcohol_by_continent)

# Step 8. Print the mean, min and max values for spirit consumption. This time output a DataFrame
spirit_stats = drinks.groupby('continent')['spirit_servings'].agg(['mean', 'min', 'max'])
print("Mean, min, and max values for spirit consumption by continent:")
print(spirit_stats)

         country  beer_servings  spirit_servings  wine_servings  \
0    Afghanistan              0                0              0
1        Albania             89              132             54
2        Algeria             25                0             14
3        Andorra            245              138            312
4         Angola            217               57             45
..           ...            ...              ...            ...
188    Venezuela            333              100              3
189      Vietnam            111                2              1
190        Yemen              6                0              0
191       Zambia             32               19              4
192     Zimbabwe             64               18              4

     total_litres_of_pure_alcohol continent
0                             0.0        AS
1                             4.9        EU
2                             0.7        AF
3                            12.4        EU
4                             5.9        AF
..                            ...       ...
188                           7.7        SA
189                           2.0        AS
190                           0.1        AS
191                           2.5        AF
192                           4.7        AF

[193 rows x 6 columns]
The continent that drinks more beer on average is: EU
Statistics for wine consumption by continent:
           count        mean        std  min   25%    50%     75%    max
continent
AF          53.0   16.264151  38.846419  0.0   1.0    2.0   13.00  233.0
AS          44.0    9.068182  21.667034  0.0   0.0    1.0    8.00  123.0
EU          45.0  142.222222  97.421738  0.0  59.0  128.0  195.00  370.0
OC          16.0   35.625000  64.555790  0.0   1.0    8.5   23.25  212.0
SA          12.0   62.416667  88.620189  1.0   3.0   12.0   98.50  221.0
Mean alcohol consumption per continent for every column:
continent
AF    3.007547
AS    2.170455
EU    8.617778
OC    3.381250
SA    6.308333
Name: total_litres_of_pure_alcohol, dtype: float64
Median alcohol consumption per continent for every column:
continent
AF     2.30
AS     1.20
EU    10.00
OC     1.75
SA     6.85
Name: total_litres_of_pure_alcohol, dtype: float64
Mean, min, and max values for spirit consumption by continent:
                 mean  min  max
continent
AF          16.339623    0  152
AS          60.840909    0  326
EU         132.555556    0  373
OC          58.437500    0  254
SA         114.750000   25  302

# Ex5 - Occupation

In [61]:
# Step 1. Import the necessary libraries
import pandas as pd

# Step 2. Import the dataset from the provided address
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user"
users = pd.read_csv(url, delimiter='|', index_col='user_id')

# Step 3. Assign it to a variable called users
# This step is already done in the previous step

# Step 4. Discover what is the mean age per occupation
mean_age_per_occupation = users.groupby('occupation')['age'].mean()

# Step 5. Discover the Male ratio per occupation and sort it from the most to the least
def male_ratio(x):
    if 'M' in x['gender']:
        return (x['gender'] == 'M').sum() / x['gender'].count()
    else:
        return 0

male_ratio_per_occupation = users.groupby('occupation').apply(male_ratio).sort_values(ascending=False)

# Step 6. For each occupation, calculate the minimum and maximum ages
min_max_age_per_occupation = users.groupby('occupation')['age'].agg(['min', 'max'])

# Step 7. For each combination of occupation and gender, calculate the mean age
mean_age_per_occupation_gender = users.groupby(['occupation', 'gender'])['age'].mean()

# Step 8. For each occupation, present the percentage of women and men
total_gender_per_occupation = users.groupby('occupation')['gender'].count()
percentage_gender_per_occupation = users.groupby(['occupation', 'gender']).size().unstack().fillna(0)
percentage_gender_per_occupation['% Female'] = (percentage_gender_per_occupation['F'] / total_gender_per_occupation) * 100
percentage_gender_per_occupation['% Male'] = (percentage_gender_per_occupation['M'] / total_gender_per_occupation) * 100

# Displaying the results
print("Mean age per occupation:\n", mean_age_per_occupation)
print("\nMale ratio per occupation (sorted):\n", male_ratio_per_occupation)
print("\nMinimum and maximum ages per occupation:\n", min_max_age_per_occupation)
print("\nMean age per occupation and gender:\n", mean_age_per_occupation_gender)
print("\nPercentage of women and men per occupation:\n", percentage_gender_per_occupation)

Mean age per occupation:
 occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

Male ratio per occupation (sorted):
 occupation
administrator    0
marketing        0
technician       0
student          0
scientist        0
salesman         0
retired          0
programmer       0
other            0
none             0
librarian        0
artist           0
lawyer           0
homemaker        0
healthcare       0
executive        0
entertainment    0
engineer         0
educator         0
doctor           0
writer           0
dtype: int64

Minimum and maximum ages per occupation:
                min  max
occupation
administrator   21   70
artist          19   48
doctor          28   64
educator        23   63
engineer        22   70
entertainment   15   50
executive       22   69
healthcare      22   62
homemaker       20   50
lawyer          21   53
librarian       23   69
marketing       24   55
none            11   55
other           13   64
programmer      20   63
retired         51   73
salesman        18   66
scientist       23   55
student          7   42
technician      21   55
writer          18   60

Mean age per occupation and gender:
 occupation     gender
administrator  F         40.638889
               M         37.162791
artist         F         30.307692
               M         32.333333
doctor         M         43.571429
educator       F         39.115385
               M         43.101449
engineer       F         29.500000
               M         36.600000
entertainment  F         31.000000
               M         29.000000
executive      F         44.000000
               M         38.172414
healthcare     F         39.818182
               M         45.400000
homemaker      F         34.166667
               M         23.000000
lawyer         F         39.500000
               M         36.200000
librarian      F         40.000000
               M         40.000000
marketing      F         37.200000
               M         37.875000
none           F         36.500000
               M         18.600000
other          F         35.472222
               M         34.028986
programmer     F         32.166667
               M         33.216667
retired        F         70.000000
               M         62.538462
salesman       F         27.000000
               M         38.555556
scientist      F         28.333333
               M         36.321429
student        F         20.750000
               M         22.669118
technician     F         38.000000
               M         32.961538
writer         F         37.631579
               M         35.346154
Name: age, dtype: float64

Percentage of women and men per occupation:
 gender            F      M   % Female      % Male
occupation
administrator  36.0   43.0  45.569620   54.430380
artist         13.0   15.0  46.428571   53.571429
doctor          0.0    7.0   0.000000  100.000000
educator       26.0   69.0  27.368421   72.631579
engineer        2.0   65.0   2.985075   97.014925
entertainment   2.0   16.0  11.111111   88.888889
executive       3.0   29.0   9.375000   90.625000
healthcare     11.0    5.0  68.750000   31.250000
homemaker       6.0    1.0  85.714286   14.285714
lawyer          2.0   10.0  16.666667   83.333333
librarian      29.0   22.0  56.862745   43.137255
marketing      10.0   16.0  38.461538   61.538462
none            4.0    5.0  44.444444   55.555556
other          36.0   69.0  34.285714   65.714286
programmer      6.0   60.0   9.090909   90.909091
retired         1.0   13.0   7.142857   92.857143
salesman        3.0    9.0  25.000000   75.000000
scientist       3.0   28.0   9.677419   90.322581
student        60.0  136.0  30.612245   69.387755
technician      1.0   26.0   3.703704   96.296296
writer         19.0   26.0  42.222222   57.777778

# Ex6 - Regiment

In [62]:
# Step 1. Import the necessary libraries
import pandas as pd

# Step 2. Create the DataFrame with the given values
raw_data = {
    'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'],
    'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd'],
    'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'],
    'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
    'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]
}

# Step 3. Assign it to a variable called regiment
regiment = pd.DataFrame(raw_data)

# Step 4. What is the mean preTestScore from the regiment Nighthawks?
mean_preTestScore_Nighthawks = regiment[regiment['regiment'] == 'Nighthawks']['preTestScore'].mean()

# Step 5. Present general statistics by company
statistics_by_company = regiment.groupby('company').describe()

# Step 6. What is the mean of each company's preTestScore?
mean_preTestScore_by_company = regiment.groupby('company')['preTestScore'].mean()

# Step 7. Present the mean preTestScores grouped by regiment and company
mean_preTestScores_grouped = regiment.groupby(['regiment', 'company'])['preTestScore'].mean()

# Step 8. Present the mean preTestScores grouped by regiment and company without hierarchical indexing
mean_preTestScores_grouped_flat = mean_preTestScores_grouped.reset_index()

# Step 9. Group the entire dataframe by regiment and company
grouped_dataframe = regiment.groupby(['regiment', 'company'])

# Step 10. What is the number of observations in each regiment and company
observation_count_per_group = grouped_dataframe.size()

# Step 11. Iterate over a group and print the name and the whole data from the regiment
for name, group_data in regiment.groupby('regiment'):
    print(f"Regiment: {name}")
    print(group_data)

# Displaying the results
print("\nMean preTestScore from the regiment Nighthawks:", mean_preTestScore_Nighthawks)
print("\nGeneral statistics by company:\n", statistics_by_company)
print("\nMean of each company's preTestScore:\n", mean_preTestScore_by_company)
print("\nMean preTestScores grouped by regiment and company:\n", mean_preTestScores_grouped)
print("\nMean preTestScores grouped by regiment and company without hierarchical indexing:\n", mean_preTestScores_grouped_flat)
print("\nNumber of observations in each regiment and company:\n", observation_count_per_group)

Regiment: Dragoons
   regiment company    name  preTestScore  postTestScore
4  Dragoons     1st   Cooze             3             70
5  Dragoons     1st   Jacon             4             25
6  Dragoons     2nd  Ryaner            24             94
7  Dragoons     2nd    Sone            31             57
Regiment: Nighthawks
     regiment company      name  preTestScore  postTestScore
0  Nighthawks     1st    Miller             4             25
1  Nighthawks     1st  Jacobson            24             94
2  Nighthawks     2nd       Ali            31             57
3  Nighthawks     2nd    Milner             2             62
Regiment: Scouts
   regiment company   name  preTestScore  postTestScore
8    Scouts     1st  Sloan             2             62
9    Scouts     1st  Piger             3             70
10   Scouts     2nd  Riani             2             62
11   Scouts     2nd    Ali             3             70

Mean preTestScore from the regiment Nighthawks: 15.25

General statistics by company:
         preTestScore                                                      \
               count       mean        std  min   25%   50%    75%   max
company
1st              6.0   6.666667   8.524475  2.0  3.00   3.5   4.00  24.0
2nd              6.0  15.500000  14.652645  2.0  2.25  13.5  29.25  31.0

        postTestScore
                count       mean        std   min    25%   50%   75%   max
company
1st               6.0  57.666667  27.485754  25.0  34.25  66.0  70.0  94.0
2nd               6.0  67.000000  14.057027  57.0  58.25  62.0  68.0  94.0

Mean of each company's preTestScore:
 company
1st     6.666667
2nd    15.500000
Name: preTestScore, dtype: float64

Mean preTestScores grouped by regiment and company:
 regiment    company
Dragoons    1st         3.5
            2nd        27.5
Nighthawks  1st        14.0
            2nd        16.5
Scouts      1st         2.5
            2nd         2.5
Name: preTestScore, dtype: float64

Mean preTestScores grouped by regiment and company without hierarchical indexing:
      regiment company  preTestScore
0    Dragoons     1st           3.5
1    Dragoons     2nd          27.5
2  Nighthawks     1st          14.0
3  Nighthawks     2nd          16.5
4      Scouts     1st           2.5
5      Scouts     2nd           2.5

Number of observations in each regiment and company:
 regiment    company
Dragoons    1st        2
            2nd        2
Nighthawks  1st        2
            2nd        2
Scouts      1st        2
            2nd        2
dtype: int64

# Ex7 - Student alchohol consumption

In [65]:
# Step 1. Import the necessary libraries
import pandas as pd

# Step 2. Import the dataset from the provided address
url = "https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv"
df = pd.read_csv(url)

# Step 3. Assign it to a variable called df
# Already done in Step 2

# Step 4. Slice the dataframe from 'school' until the 'guardian' column
sliced_df = df.loc[:, 'school':'guardian']

# Step 5. Create a lambda function that will capitalize strings
capitalize_string = lambda x: x.capitalize()

# Step 6. Capitalize both Mjob and Fjob
sliced_df['Mjob'] = sliced_df['Mjob'].apply(capitalize_string)
sliced_df['Fjob'] = sliced_df['Fjob'].apply(capitalize_string)

# Step 7. Print the last elements of the data set
print("Last elements of the data set:\n", sliced_df.tail())

# Step 8. Fix the original dataframe and capitalize Mjob and Fjob
df['Mjob'] = df['Mjob'].apply(capitalize_string)
df['Fjob'] = df['Fjob'].apply(capitalize_string)

# Step 9. Create a function called majority that returns a boolean value to a new column called legal_drinker
def majority(age):
    return age > 17

df['legal_drinker'] = df['age'].apply(majority)

# Step 10. Multiply every number of the dataset by 10
df_numeric = df.select_dtypes(include='number') * 10
df[df_numeric.columns] = df_numeric

# Displaying the updated dataframe
print("\nUpdated dataframe after multiplying every number by 10:\n", df.head())

Last elements of the data set:
     school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
390     MS   M   20       U     LE3       A     2     2  Services  Services
391     MS   M   17       U     LE3       T     3     1  Services  Services
392     MS   M   21       R     GT3       T     1     1     Other     Other
393     MS   M   18       R     LE3       T     3     2  Services     Other
394     MS   M   19       U     LE3       T     1     1     Other   At_home

     reason guardian
390  course    other
391  course   mother
392  course    other
393  course   mother
394  course   father

Updated dataframe after multiplying every number by 10:
   school sex  age address famsize Pstatus  Medu  Fedu     Mjob      Fjob  ...  \
0     GP   F  180       U     GT3       A    40    40  At_home   Teacher  ...
1     GP   F  170       U     GT3       T    10    10  At_home     Other  ...
2     GP   F  150       U     LE3       T    10    10  At_home     Other  ...
3     GP   F  150       U     GT3       T    40    20   Health  Services  ...
4     GP   F  160       U     GT3       T    30    30    Other     Other  ...

  freetime goout  Dalc  Walc  health absences   G1   G2   G3 legal_drinker
0       30    40    10    10      30       60   50   60   60          True
1       30    30    10    10      30       40   50   50   60         False
2       30    20    20    30      30      100   70   80  100         False
3       20    20    10    10      50       20  150  140  150         False
4       30    20    10    20      50       40   60  100  100         False

[5 rows x 34 columns]

# Ex8 - United States - Crime Rates - 1960 - 2014

In [70]:
# Step 1. Import the necessary libraries
import pandas as pd

# Step 2. Import the dataset from the provided address
url="https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv"
crime = pd.read_csv(url)

# Step 3. Assign it to a variable called crime
# Already done in Step 2

# Step 4. What is the type of the columns?
print("Type of the columns:")
print(crime.dtypes)

# Step 5. Convert the type of the column Year to datetime64
crime['Year'] = pd.to_datetime(crime['Year'], format='%Y')

# Step 6. Set the Year column as the index of the dataframe
crime.set_index('Year', inplace=True)

# Step 7. Delete the Total column
crime.drop(columns=['Total'], inplace=True)

# Step 8. Group the year by decades and sum the values (excluding the Population column)
crime_decade = crime.resample('10AS').sum()

# Step 9. What is the most dangerous decade to live in the US?
most_dangerous_decade = crime_decade.idxmax()[0].year
print("The most dangerous decade to live in the US was:", most_dangerous_decade)

Type of the columns:
Year                  int64
Population            int64
Total                 int64
Violent               int64
Property              int64
Murder                int64
Forcible_Rape         int64
Robbery               int64
Aggravated_assault    int64
Burglary              int64
Larceny_Theft         int64
Vehicle_Theft         int64
dtype: object
The most dangerous decade to live in the US was: 2000

# Ex9 - MPG Cars

In [76]:
# Step 1. Import the necessary libraries
import pandas as pd

# Step 2. Import the first dataset cars1 and cars2.
cars1 = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv')
cars2 = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv')


# Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1
cars1 = cars1.loc[:, ~cars1.columns.str.contains('^Unnamed')]

# Step 5. What is the number of observations in each dataset?
observations_cars1 = cars1.shape[0]
observations_cars2 = cars2.shape[0]
print("Number of observations in cars1:", observations_cars1)
print("Number of observations in cars2:", observations_cars2)

# Step 6. Join cars1 and cars2 into a single DataFrame called cars
cars = pd.concat([cars1, cars2], ignore_index=True)
print(f"Cars:{cars}")

# Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.
import numpy as np
np.random.seed(0)
owners = np.random.randint(15000, 73001, size=len(cars))
print(f"Owners :{owners}")

# Step 8. Add the column owners to cars
cars['owners'] = owners

Number of observations in cars1: 198
Number of observations in cars2: 200
Cars:      mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0    18.0          8           307        130    3504          12.0     70
1    15.0          8           350        165    3693          11.5     70
2    18.0          8           318        150    3436          11.0     70
3    16.0          8           304        150    3433          12.0     70
4    17.0          8           302        140    3449          10.5     70
..    ...        ...           ...        ...     ...           ...    ...
393  27.0          4           140         86    2790          15.6     82
394  44.0          4            97         52    2130          24.6     82
395  32.0          4           135         84    2295          11.6     82
396  28.0          4           120         79    2625          18.6     82
397  31.0          4           119         82    2720          19.4     82

     origin                        car
0         1  chevrolet chevelle malibu
1         1          buick skylark 320
2         1         plymouth satellite
3         1              amc rebel sst
4         1                ford torino
..      ...                        ...
393       1            ford mustang gl
394       2                  vw pickup
395       1              dodge rampage
396       1                ford ranger
397       1                 chevy s-10

[398 rows x 9 columns]
Owners :[17732 58567 57613 67416 60891 36243 45403 47103 56993 72043 35757 70026
 61884 29935 30430 63600 54512 67620 29650 32089 47230 33983 58095 66374
 39152 50665 31921 42469 53984 21921 53804 17163 20072 52619 22877 33430
 16871 22599 17496 62954 39675 57968 46921 48523 15797 64811 18219 30246
 39999 71608 31321 67489 34129 68887 56504 70839 64866 33676 72495 46230
 26723 58890 32591 70324 58136 41752 38605 21021 35006 18560 40332 46055
 60444 65793 61522 62647 36368 35737 43647 41681 29627 27134 62883 56390
 71402 35571 66811 24781 34340 42257 31298 27372 66403 19420 60830 54876
 32455 29324 53019 22012 24396 62080 18918 24359 65836 59259 38482 30127
 58727 50725 52237 29165 23752 57565 29505 20795 65624 38647 55133 43254
 56216 70153 51530 40392 31221 33819 49402 63682 15973 35848 25215 26157
 39777 28824 17418 27843 28242 51223 70319 69971 21521 37626 71894 24123
 46454 57947 70890 29254 66939 38700 52073 66762 53299 38310 46785 30041
 71356 38306 51950 63171 28160 41635 62874 48075 28392 29368 20302 48920
 38334 56235 53062 61634 61451 65360 50260 42112 63717 62390 28592 40213
 48538 30875 23286 59258 53763 33728 28640 18091 60663 18912 65586 21594
 36752 72524 38532 22997 68006 55800 30620 55899 19845 41763 69268 58606
 18533 17937 41221 52707 57512 34608 20021 41773 48902 64177 57448 32340
 16913 67086 28429 28907 50489 25088 65080 30588 53395 70417 53214 15469
 58295 23717 66015 49488 53040 31975 53953 66474 30912 43086 31591 30115
 68414 29447 67573 43665 69401 57870 26052 72560 30741 72368 43739 58986
 20103 72091 50050 16740 70270 27579 20846 61078 62805 35165 17775 33987
 45752 38563 28928 21356 48930 61774 43651 30997 48391 47232 23962 35435
 49009 58671 19403 32582 44844 34381 53429 30939 25787 32191 17121 60353
 39451 18886 56690 37450 30212 24987 65975 62881 60485 31583 49215 20181
 58349 26042 57914 20208 21177 62749 19863 70332 65944 65635 62394 23389
 15894 69526 63208 45142 47904 41813 54041 40968 62395 28688 18419 31552
 21004 50620 60232 57521 35803 72191 72852 30139 50954 37302 36533 33161
 67513 56106 69545 68469 29676 35989 17562 37597 40484 52420 28173 42389
 61402 43271 70387 26605 48191 43310 71006 48735 52138 56820 37571 69355
 48201 28097 37621 32813 59889 33930 46200 29299 31713 34996 31363 39785
 70913 51736 39534 47319 16040 21250 72508 40182 22704 21772 53079 57179
 40907 60192 24144 42741 53779 66950 56120 17195 19680 70751 40687 67237
 47058 69865]

# Ex10 - Fictitious Names

In [83]:
# Step 1. Import the necessary libraries
import pandas as pd

# Step 2. Create the 3 DataFrames based on the following raw data
raw_data_1 = {
    'subject_id': ['1', '2', '3', '4', '5'],
    'first_name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'], 
    'last_name': ['Anderson', 'Ackerman', 'Ali', 'Aoni', 'Atiches']}
data1 = pd.DataFrame(raw_data_1)

raw_data_2 = {
    'subject_id': ['4', '5', '6', '7', '8'],
    'first_name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'], 
    'last_name': ['Bonder', 'Black', 'Balwner', 'Brice', 'Btisan']}
data2 = pd.DataFrame(raw_data_2)

raw_data_3 = {
    'subject_id': ['1', '2', '3', '4', '5', '7', '8', '9', '10', '11'],
    'test_id': [51, 15, 15, 61, 16, 14, 15, 1, 61, 16]}
data3 = pd.DataFrame(raw_data_3)

# Step 3. Assign each to a variable called data1, data2, data3
# Already done in the creation of DataFrames

# Step 4. Join the two dataframes along rows and assign all_data
all_data = pd.concat([data1, data2])
print("\nAll Data (concatenated along rows):",all_data)

# Step 5. Join the two dataframes along columns and assign to all_data_col
all_data_col = pd.concat([data1, data2], axis=1)
print("\nAll Data Column-wise (concatenated along columns):")
print(all_data_col)

# Step 6. Print data3
print("\nData3 DataFrame:")
print(data3)

# Step 7. Merge all_data and data3 along the subject_id value
merged_data = pd.merge(all_data, data3, on='subject_id')
print("\nMerged Data (all_data and data3 along subject_id):")
print(merged_data)

# Step 8. Merge only the data that has the same 'subject_id' on both data1 and data2
merged_data_inner = pd.merge(data1, data2, on='subject_id', how='inner')
print("\nInner Merge (data1 and data2 on subject_id):")
print(merged_data_inner)

# Step 9. Merge all values in data1 and data2, with matching records from both sides where available.
merged_data_outer = pd.merge(data1, data2, on='subject_id', how='outer')
print("\nOuter Merge (data1 and data2 on subject_id):")
print(merged_data_outer)

All Data (concatenated along rows):   subject_id first_name last_name
0          1       Alex  Anderson
1          2        Amy  Ackerman
2          3      Allen       Ali
3          4      Alice      Aoni
4          5     Ayoung   Atiches
0          4      Billy    Bonder
1          5      Brian     Black
2          6       Bran   Balwner
3          7      Bryce     Brice
4          8      Betty    Btisan

All Data Column-wise (concatenated along columns):
  subject_id first_name last_name subject_id first_name last_name
0          1       Alex  Anderson          4      Billy    Bonder
1          2        Amy  Ackerman          5      Brian     Black
2          3      Allen       Ali          6       Bran   Balwner
3          4      Alice      Aoni          7      Bryce     Brice
4          5     Ayoung   Atiches          8      Betty    Btisan

Data3 DataFrame:
  subject_id  test_id
0          1       51
1          2       15
2          3       15
3          4       61
4          5       16
5          7       14
6          8       15
7          9        1
8         10       61
9         11       16

Merged Data (all_data and data3 along subject_id):
  subject_id first_name last_name  test_id
0          1       Alex  Anderson       51
1          2        Amy  Ackerman       15
2          3      Allen       Ali       15
3          4      Alice      Aoni       61
4          4      Billy    Bonder       61
5          5     Ayoung   Atiches       16
6          5      Brian     Black       16
7          7      Bryce     Brice       14
8          8      Betty    Btisan       15

Inner Merge (data1 and data2 on subject_id):
  subject_id first_name_x last_name_x first_name_y last_name_y
0          4        Alice        Aoni        Billy      Bonder
1          5       Ayoung     Atiches        Brian       Black

Outer Merge (data1 and data2 on subject_id):
  subject_id first_name_x last_name_x first_name_y last_name_y
0          1         Alex    Anderson          NaN         NaN
1          2          Amy    Ackerman          NaN         NaN
2          3        Allen         Ali          NaN         NaN
3          4        Alice        Aoni        Billy      Bonder
4          5       Ayoung     Atiches        Brian       Black
5          6          NaN         NaN         Bran     Balwner
6          7          NaN         NaN        Bryce       Brice
7          8          NaN         NaN        Betty      Btisan

# Ex11 - Housing Market

In [85]:
import pandas as pd
import numpy as np

# Step 2. Create 3 different Series
series1 = pd.Series(np.random.randint(1, 5, size=100))
series2 = pd.Series(np.random.randint(1, 4, size=100))
series3 = pd.Series(np.random.randint(10000, 30001, size=100))

# Step 3. Create a DataFrame by joining the Series by column
df = pd.DataFrame({'bedrs': series1, 'bathrs': series2, 'price_sqr_meter': series3})

# Step 4. Change the name of the columns
df.columns = ['bedrs', 'bathrs', 'price_sqr_meter']

# Step 5. Create a one-column DataFrame with the values of the 3 Series
bigcolumn = pd.concat([series1, series2, series3], axis=0)

# Step 6. Check if 'bigcolumn' goes only until index 99
print("Is 'bigcolumn' going only until index 99?", len(bigcolumn) == 100)

# Step 7. Reindex the DataFrame so it goes from 0 to 299
bigcolumn.reset_index(drop=True, inplace=True)

# Print all the objects with proper messages
print("Series 1 (Random numbers from 1 to 4):")
print(series1)

print("\nSeries 2 (Random numbers from 1 to 3):")
print(series2)

print("\nSeries 3 (Random numbers from 10,000 to 30,000):")
print(series3)

print("\nDataFrame:")
print(df)

print("\nDataFrame columns renamed to 'bedrs', 'bathrs', 'price_sqr_meter':")
print(df)

print("\nOne-column DataFrame 'bigcolumn':")
print(bigcolumn)

Is 'bigcolumn' going only until index 99? False
Series 1 (Random numbers from 1 to 4):
0     3
1     1
2     4
3     2
4     2
     ..
95    1
96    3
97    3
98    1
99    3
Length: 100, dtype: int32

Series 2 (Random numbers from 1 to 3):
0     1
1     1
2     3
3     3
4     2
     ..
95    3
96    1
97    1
98    2
99    2
Length: 100, dtype: int32

Series 3 (Random numbers from 10,000 to 30,000):
0     21782
1     22900
2     19114
3     17326
4     17557
      ...
95    29521
96    26151
97    11408
98    11111
99    13877
Length: 100, dtype: int32

DataFrame:
    bedrs  bathrs  price_sqr_meter
0       3       1            21782
1       1       1            22900
2       4       3            19114
3       2       3            17326
4       2       2            17557
..    ...     ...              ...
95      1       3            29521
96      3       1            26151
97      3       1            11408
98      1       2            11111
99      3       2            13877

[100 rows x 3 columns]

DataFrame columns renamed to 'bedrs', 'bathrs', 'price_sqr_meter':
    bedrs  bathrs  price_sqr_meter
0       3       1            21782
1       1       1            22900
2       4       3            19114
3       2       3            17326
4       2       2            17557
..    ...     ...              ...
95      1       3            29521
96      3       1            26151
97      3       1            11408
98      1       2            11111
99      3       2            13877

[100 rows x 3 columns]

One-column DataFrame 'bigcolumn':
0          3
1          1
2          4
3          2
4          2
       ...
295    29521
296    26151
297    11408
298    11111
299    13877
Length: 300, dtype: int32

# Ex12 - US - Baby Names

In [86]:
# Step 1. Import the necessary libraries
import pandas as pd

# Step 2. Import the dataset from the provided address
url = "https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv"
baby_names = pd.read_csv(url)

# Step 3. Assign the dataset to a variable called baby_names
baby_names = pd.read_csv(url)

# Step 4. See the first 10 entries
print("First 10 entries of the dataset:")
print(baby_names.head(10))

# Step 5. Delete the column 'Unnamed: 0' and 'Id'
baby_names.drop(['Unnamed: 0', 'Id'], axis=1, inplace=True)

# Step 6. Check if there are more male or female names in the dataset
gender_counts = baby_names['Gender'].value_counts()
print("\nMore male or female names in the dataset:", gender_counts.idxmax())

# Step 7. Group the dataset by name and assign to names
names = baby_names.groupby('Name')

# Step 8. Count the number of different names in the dataset
num_different_names = len(names)
print("\nNumber of different names in the dataset:", num_different_names)

# Step 9. Find the name with the most occurrences
most_occurrences_name = names.size().idxmax()
print("\nName with the most occurrences:", most_occurrences_name)

# Step 10. Find the number of different names with the least occurrences
least_occurrences = names.size().min()
num_least_occurrences_names = sum(names.size() == least_occurrences)
print("\nNumber of different names with the least occurrences:", num_least_occurrences_names)

# Step 11. Find the median name occurrence
median_occurrences = names.size().median()
print("\nMedian name occurrence:", median_occurrences)

# Step 12. Find the standard deviation of name occurrences
std_occurrences = names.size().std()
print("\nStandard deviation of name occurrences:", std_occurrences)

# Step 13. Get a summary with the mean, min, max, std, and quartiles of name occurrences
summary = names.size().describe()
print("\nSummary of name occurrences:")
print(summary)

First 10 entries of the dataset:
   Unnamed: 0     Id      Name  Year Gender State  Count
0       11349  11350      Emma  2004      F    AK     62
1       11350  11351   Madison  2004      F    AK     48
2       11351  11352    Hannah  2004      F    AK     46
3       11352  11353     Grace  2004      F    AK     44
4       11353  11354     Emily  2004      F    AK     41
5       11354  11355   Abigail  2004      F    AK     37
6       11355  11356    Olivia  2004      F    AK     33
7       11356  11357  Isabella  2004      F    AK     30
8       11357  11358    Alyssa  2004      F    AK     29
9       11358  11359    Sophia  2004      F    AK     28

More male or female names in the dataset: F

Number of different names in the dataset: 17632

Name with the most occurrences: Riley

Number of different names with the least occurrences: 3682

Median name occurrence: 8.0

Standard deviation of name occurrences: 122.02996350814125

Summary of name occurrences:
count    17632.000000
mean        57.644907
std        122.029964
min          1.000000
25%          2.000000
50%          8.000000
75%         39.000000
max       1112.000000
dtype: float64

# Ex13 - Wind Statistics

In [91]:
# Step 1. Import the necessary libraries
import pandas as pd

# Step 2. Import the dataset from the provided address
url = "https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/Wind_Stats/wind.data"
data = pd.read_csv(url, delim_whitespace=True)

# Step 3. Replace the first 3 columns by a proper datetime index
data['Date'] = pd.to_datetime(data['Yr'].astype(str) + '-' + data['Mo'].astype(str) + '-' + data['Dy'].astype(str))
data.set_index('Date', inplace=True)
data.drop(['Yr', 'Mo', 'Dy'], axis=1, inplace=True)

# Step 4. Define a function to fix the year
def fix_year(year):
    if year > 2000:
        year -= 100
    return year

data.index = data.index.map(lambda x: x.replace(year=fix_year(x.year)))

# Step 5. Set the right dates as the index
data.index = pd.to_datetime(data.index)

# Step 6. Compute how many values are missing for each location over the entire record
missing_values_per_location = data.isnull().sum()
print("Missing values for each location:")
print(missing_values_per_location)

# Step 7. Compute how many non-missing values there are in total
total_non_missing_values = data.notnull().sum().sum()
print("\nTotal non-missing values:", total_non_missing_values)

# Step 8. Calculate the mean windspeeds of the windspeeds over all the locations and all the times
mean_windspeed = data.mean().mean()
print("\nMean windspeed:", mean_windspeed)

# Step 9. Create a DataFrame called loc_stats and calculate the min, max, mean, and standard deviations of the windspeeds at each location
loc_stats = pd.DataFrame()
loc_stats['Min'] = data.min()
loc_stats['Max'] = data.max()
loc_stats['Mean'] = data.mean()
loc_stats['Std'] = data.std()
print("\nLocation statistics:")
print(loc_stats)

# Step 10. Create a DataFrame called day_stats and calculate the min, max, mean, and standard deviations of the windspeeds across all the locations at each day
day_stats = pd.DataFrame()
day_stats['Min'] = data.min(axis=1)
day_stats['Max'] = data.max(axis=1)
day_stats['Mean'] = data.mean(axis=1)
day_stats['Std'] = data.std(axis=1)
print("\nDay statistics:")
print(day_stats)

# Step 11. Find the average windspeed in January for each location
january_mean_windspeeds = data[data.index.month == 1].mean()
print("\nAverage windspeed in January for each location:")
print(january_mean_windspeeds)

# Step 12. Downsample the record to a yearly frequency for each location
yearly_data = data.resample('Y').mean()
print("\nYearly frequency for each location:")
print(yearly_data)

# Step 13. Downsample the record to a monthly frequency for each location
monthly_data = data.resample('M').mean()
print("\nMonthly frequency for each location:")
print(monthly_data)

# Step 14. Downsample the record to a weekly frequency for each location
weekly_data = data.resample('W').mean()
print("\nWeekly frequency for each location:")
print(weekly_data)

# Step 15. Calculate the min, max, mean, and standard deviations of the windspeeds across all locations for each week for the first 52 weeks
weekly_stats = data.resample('W').agg(['min', 'max', 'mean', 'std'])
print("\nWeekly statistics for the first 52 weeks:")
print(weekly_stats.iloc[:52])

C:\Users\HP\AppData\Local\Temp\ipykernel_13348\1387773874.py:9: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data['Date'] = pd.to_datetime(data['Yr'].astype(str) + '-' + data['Mo'].astype(str) + '-' + data['Dy'].astype(str))

Missing values for each location:
RPT    6
VAL    3
ROS    2
KIL    5
SHA    2
BIR    0
DUB    3
CLA    2
MUL    3
CLO    1
BEL    0
MAL    4
dtype: int64

Total non-missing values: 78857

Mean windspeed: 10.227982360836938

Location statistics:
      Min    Max       Mean       Std
RPT  0.67  35.80  12.362987  5.618413
VAL  0.21  33.37  10.644314  5.267356
ROS  1.50  33.84  11.660526  5.008450
KIL  0.00  28.46   6.306468  3.605811
SHA  0.13  37.54  10.455834  4.936125
BIR  0.00  26.16   7.092254  3.968683
DUB  0.00  30.37   9.797343  4.977555
CLA  0.00  31.08   8.495053  4.499449
MUL  0.00  25.88   8.493590  4.166872
CLO  0.04  28.21   8.707332  4.503954
BEL  0.13  42.38  13.121007  5.835037
MAL  0.67  42.54  15.599079  6.699794

Day statistics:
             Min    Max       Mean       Std
Date
1961-01-01  9.29  18.50  13.018182  2.808875
1961-01-02  6.50  17.54  11.336364  3.188994
1961-01-03  6.17  18.50  11.641818  3.681912
1961-01-04  1.79  11.75   6.619167  3.198126
1961-01-05  6.17  13.33  10.630000  2.445356
...          ...    ...        ...       ...
1978-12-27  8.08  40.08  16.708333  7.868076
1978-12-28  5.00  41.46  15.150000  9.687857
1978-12-29  8.71  29.58  14.890000  5.756836
1978-12-30  9.13  28.79  15.367500  5.540437
1978-12-31  9.59  27.29  15.402500  5.702483

[6574 rows x 4 columns]

Average windspeed in January for each location:
RPT    14.847325
VAL    12.914560
ROS    13.299624
KIL     7.199498
SHA    11.667734
BIR     8.054839
DUB    11.819355
CLA     9.512047
MUL     9.543208
CLO    10.053566
BEL    14.550520
MAL    18.028763
dtype: float64

Yearly frequency for each location:
                  RPT        VAL        ROS       KIL        SHA       BIR  \
Date
1961-12-31  12.299583  10.351796  11.362369  6.958227  10.881763  7.729726
1962-12-31  12.246923  10.110438  11.732712  6.960440  10.657918  7.393068
1963-12-31  12.813452  10.836986  12.541151  7.330055  11.724110  8.434712
1964-12-31  12.363661  10.920164  12.104372  6.787787  11.454481  7.570874
1965-12-31  12.451370  11.075534  11.848767  6.858466  11.024795  7.478110
1966-12-31  13.461973  11.557205  12.020630  7.345726  11.805041  7.793671
1967-12-31  12.737151  10.990986  11.739397  7.143425  11.630740  7.368164
1968-12-31  11.835628  10.468197  11.409754  6.477678  10.760765  6.067322
1969-12-31  11.166356   9.723699  10.902000  5.767973   9.873918  6.189973
1970-12-31  12.600329  10.726932  11.730247  6.217178  10.567370  7.609452
1971-12-31  11.273123   9.095178  11.088329  5.241507   9.440329  6.097151
1972-12-31  12.463962  10.561311  12.058333  5.929699   9.430410  6.358825
1973-12-31  11.828466  10.680493  10.680493  5.547863   9.640877  6.548740
1974-12-31  13.643096  11.811781  12.336356  6.427041  11.110986  6.809781
1975-12-31  12.008575  10.293836  11.564712  5.269096   9.190082  5.668521
1976-12-31  11.737842  10.203115  10.761230  5.109426   8.846339  6.311038
1977-12-31  13.099616  11.144493  12.627836  6.073945  10.003836  8.586438
1978-12-31  12.504356  11.044274  11.380000  6.082356  10.167233  7.650658

                  DUB        CLA       MUL        CLO        BEL        MAL
Date
1961-12-31   9.733923   8.858788  8.647652   9.835577  13.502795  13.680773
1962-12-31  11.020712   8.793753  8.316822   9.676247  12.930685  14.323956
1963-12-31  11.075699  10.336548  8.903589  10.224438  13.638877  14.999014
1964-12-31  10.259153   9.467350  7.789016  10.207951  13.740546  14.910301
1965-12-31  10.618712   8.879918  7.907425   9.918082  12.964247  15.591644
1966-12-31  10.579808   8.835096  8.514438   9.768959  14.265836  16.307260
1967-12-31  10.652027   9.325616  8.645014   9.547425  14.774548  17.135945
1968-12-31   8.859180   8.255519  7.224945   7.832978  12.808634  15.017486
1969-12-31   8.564493   7.711397  7.924521   7.754384  12.621233  15.762904
1970-12-31   9.609890   8.334630  9.297616   8.289808  13.183644  16.456027
1971-12-31   8.385890   6.757315  7.915370   7.229753  12.208932  15.025233
1972-12-31   9.704508   7.680792  8.357295   7.515273  12.727377  15.028716
1973-12-31   8.482110   7.614274  8.245534   7.812411  12.169699  15.441096
1974-12-31  10.084603   9.896986  9.331753   8.736356  13.252959  16.947671
1975-12-31   8.562603   7.843836  8.797945   7.382822  12.631671  15.307863
1976-12-31   9.149126   7.146202  8.883716   7.883087  12.332377  15.471448
1977-12-31  11.523205   8.378384  9.098192   8.821616  13.459068  16.590849
1978-12-31   9.489342   8.800466  9.089753   8.301699  12.967397  16.771370

Monthly frequency for each location:
                  RPT        VAL        ROS       KIL        SHA        BIR  \
Date
1961-01-31  14.841333  11.988333  13.431613  7.736774  11.072759   8.588065
1961-02-28  16.269286  14.975357  14.441481  9.230741  13.852143  10.937500
1961-03-31  10.890000  11.296452  10.752903  7.284000  10.509355   8.866774
1961-04-30  10.722667   9.427667   9.998000  5.830667   8.435000   6.495000
1961-05-31   9.860968   8.850000  10.818065  5.905333   9.490323   6.574839
...               ...        ...        ...       ...        ...        ...
1978-08-31   9.645161   8.259355   9.032258  4.502903   7.368065   5.935161
1978-09-30  10.913667  10.895000  10.635000  5.725000  10.372000   9.278333
1978-10-31   9.897742   8.670968   9.295806  4.721290   8.525161   6.774194
1978-11-30  16.151667  14.802667  13.508000  7.317333  11.475000   8.743000
1978-12-31  16.175484  13.748065  15.635161  7.094839  11.398710   9.241613

                  DUB        CLA        MUL        CLO        BEL        MAL
Date
1961-01-31  11.184839   9.245333   9.085806  10.107419  13.880968  14.703226
1961-02-28  11.890714  11.846071  11.821429  12.714286  18.583214  15.411786
1961-03-31   9.644194   9.829677  10.294138  11.251935  16.410968  15.720000
1961-04-30   6.925333   7.094667   7.342333   7.237000  11.147333  10.278333
1961-05-31   7.604000   8.177097   8.039355   8.499355  11.900323  12.011613
...               ...        ...        ...        ...        ...        ...
1978-08-31   5.650323   5.417742   7.241290   5.536774  10.466774  12.054194
1978-09-30  10.790333   9.583000  10.069333   8.939000  15.680333  19.391333
1978-10-31   8.115484   7.337742   8.297742   8.243871  13.776774  17.150000
1978-11-30  11.492333   9.657333  10.701333  10.676000  17.404667  20.723000
1978-12-31  12.077419  10.194839  10.616774  11.028710  13.859677  21.371613

[216 rows x 12 columns]

Weekly frequency for each location:
                  RPT        VAL        ROS        KIL        SHA        BIR  \
Date
1961-01-01  15.040000  14.960000  13.170000   9.290000        NaN   9.870000
1961-01-08  13.541429  11.486667  10.487143   6.417143   9.474286   6.435714
1961-01-15  12.468571   8.967143  11.958571   4.630000   7.351429   5.072857
1961-01-22  13.204286   9.862857  12.982857   6.328571   8.966667   7.417143
1961-01-29  19.880000  16.141429  18.225714  12.720000  17.432857  14.828571
...               ...        ...        ...        ...        ...        ...
1978-12-03  14.934286  11.232857  13.941429   5.565714  10.215714   8.618571
1978-12-10  20.740000  19.190000  17.034286   9.777143  15.287143  12.774286
1978-12-17  16.758571  14.692857  14.987143   6.917143  11.397143   7.272857
1978-12-24  11.155714   8.008571  13.172857   4.004286   7.825714   6.290000
1978-12-31  14.951429  11.801429  16.035714   6.507143   9.660000   8.620000

                  DUB        CLA        MUL        CLO        BEL        MAL
Date
1961-01-01  13.670000  10.250000  10.830000  12.580000  18.500000  15.040000
1961-01-08  11.061429   6.616667   8.434286   8.497143  12.481429  13.238571
1961-01-15   7.535714   6.820000   5.712857   7.571429  11.125714  11.024286
1961-01-22   9.257143   7.875714   7.145714   8.124286   9.821429  11.434286
1961-01-29  15.528571  15.160000  14.480000  15.640000  20.930000  22.530000
...               ...        ...        ...        ...        ...        ...
1978-12-03   9.642857   7.685714   9.011429   9.547143  11.835714  18.728571
1978-12-10  14.437143  12.488571  13.870000  14.082857  18.517143  23.061429
1978-12-17  10.208571   7.967143   9.168571   8.565714  11.102857  15.562857
1978-12-24   7.798571   8.667143   7.151429   8.072857  11.845714  18.977143
1978-12-31  13.708571  10.477143  10.868571  11.471429  12.947143  26.844286

[940 rows x 12 columns]

Weekly statistics for the first 52 weeks:
              RPT                                VAL                    \
              min    max       mean       std    min    max       mean
Date
1961-01-01  15.04  15.04  15.040000       NaN  14.96  14.96  14.960000
1961-01-08  10.58  18.50  13.541429  2.631321   6.63  16.88  11.486667
1961-01-15   9.04  19.75  12.468571  3.555392   3.54  12.08   8.967143
1961-01-22   4.92  19.83  13.204286  5.337402   3.42  14.37   9.862857
1961-01-29  13.62  25.04  19.880000  4.619061   9.96  23.91  16.141429
1961-02-05  10.58  24.21  16.827143  5.251408   9.46  24.21  15.460000
1961-02-12  16.00  24.54  19.684286  3.587677  11.54  21.42  16.417143
1961-02-19   6.04  22.50  15.130000  5.064609  11.63  20.17  15.091429
1961-02-26   7.79  25.80  15.221429  7.020716   7.08  21.50  13.625714
1961-03-05  10.96  13.33  12.101429  0.997721   8.83  17.00  12.951429
1961-03-12   4.88  14.79   9.376667  3.732263   8.08  16.96  11.578571
1961-03-19   4.92  16.88  11.911429  3.860036   9.46  15.54  13.501429
1961-03-26   6.29  15.00   9.567143  3.613298   2.58  11.63   8.387143
1961-04-02   5.88  18.25  10.757143  5.046922   3.50  16.29   8.852857
1961-04-09   4.50  18.12  11.964286  4.604392   7.04  14.62  10.654286
1961-04-16   4.71  15.50   8.965714  3.937727   4.83  12.25   8.000000
1961-04-23   4.00  21.09  12.621429  5.676655   3.71  15.41  10.438571
1961-04-30   4.08  16.29  10.117143  4.349662   6.50  14.46   9.798571
1961-05-07   9.87  23.00  15.367143  5.025507  10.29  19.79  13.970000
1961-05-14   3.54  12.79   7.772857  3.371022   3.96  15.12   8.712857
1961-05-21   4.88  15.04   8.225714  3.631730   3.58  10.17   5.631667
1961-05-28   4.96  11.79   8.155714  2.739433   3.67  12.50   7.388571
1961-06-04   7.00  15.92  10.321429  3.099701   4.75   9.79   7.407143
1961-06-11   8.29  14.42  10.917143  2.248597   6.83  11.54   8.992857
1961-06-18   6.13  14.33  10.571429  3.009482   4.12  14.54   9.565714
1961-06-25   4.00   9.00   7.345714  1.982035   3.25   9.50   6.108571
1961-07-02   7.21  13.13  10.236667  2.557856   6.34  14.37   9.482857
1961-07-09   7.29  17.50  11.715714  3.664855   3.75  10.75   7.220000
1961-07-16   8.63  22.50  16.680000  5.168710   7.87  19.29  13.518571
1961-07-23   3.04   5.88   4.202857  1.047978   2.92   6.79   4.255714
1961-07-30   6.13  16.08  10.561429  4.157641   4.63  13.79   8.445714
1961-08-06   7.67  16.08  10.870000  2.950887   5.09  15.79   8.792857
1961-08-13   2.88  14.21  10.058333  4.422268   4.42  10.00   7.941429
1961-08-20  13.13  18.91  15.607143  2.283635   7.25  13.62  10.565714
1961-08-27   7.67  18.16  12.391429  3.395857   6.87  14.58  11.430000
1961-09-03   3.63  14.46   8.678571  4.398615   1.13  22.00   8.821429
1961-09-10   5.00  17.62  10.541429  5.207278   3.04  13.59   8.798571
1961-09-17   5.33  28.75  17.160000  7.679190   7.12  22.08  14.440000
1961-09-24   6.92  10.25   8.500000  1.267399   2.92  13.62   7.154286
1961-10-01  10.34  23.21  16.044286  4.559572   6.96  13.62  11.361667
1961-10-08   3.13  16.08  11.250000  5.596710   3.63  16.96   8.757143
1961-10-15   3.71  17.12  10.881667  4.780675   6.13  13.25   9.734286
1961-10-22  10.46  28.62  19.260000  7.888314   3.75  19.46  13.364286
1961-10-29   4.33  26.42  16.077143  7.957637   2.75  21.25  11.867143
1961-11-05   5.88  15.79  11.571429  3.369201   3.96  13.46   9.590000
1961-11-12   5.46  16.08  10.428571  3.939811   5.50  10.75   7.690000
1961-11-19   7.50  15.00  10.798571  2.784358   4.21  13.00   7.951429
1961-11-26   5.75  14.29   9.154286  3.214368   3.29  11.79   7.337143
1961-12-03   7.92  23.75  12.608571  5.704669   4.67  18.71  10.442857
1961-12-10  10.83  23.71  17.362857  4.890152   9.21  21.37  14.362857
1961-12-17   9.29  21.34  14.985714  4.095106   8.63  17.62  13.472857
1961-12-24  11.46  24.41  15.757143  4.959717   9.79  16.13  11.971429

                        ROS         ...        CLO              BEL         \
                 std    min    max  ...       mean       std    min    max
Date                                ...
1961-01-01       NaN  13.17  13.17  ...  12.580000       NaN  18.50  18.50
1961-01-08  3.949525   7.62  12.33  ...   8.497143  1.704941   5.46  17.54
1961-01-15  3.148945   7.08  19.50  ...   7.571429  4.084293   5.25  20.71
1961-01-22  3.837785   7.29  20.79  ...   8.124286  4.783952   6.50  15.92
1961-01-29  5.170224  12.67  25.84  ...  15.640000  3.713368  14.04  27.71
1961-02-05  5.187395   9.04  19.70  ...   9.460000  2.839501   9.17  19.33
1961-02-12  3.608373  13.67  21.34  ...  14.440000  1.746749  15.21  26.38
1961-02-19  3.575012   6.13  19.41  ...  13.542857  2.531361  14.09  29.63
1961-02-26  5.147348   6.08  22.42  ...  12.730000  4.920064   9.59  23.21
1961-03-05  2.851955   8.17  13.67  ...  12.370000  1.593685  11.58  23.45
1961-03-12  3.230167   7.54  16.38  ...  10.458571  3.655113  10.21  22.71
1961-03-19  2.352867   5.25  13.96  ...  11.627143  3.099472  11.29  22.79
1961-03-26  3.657265   4.79  15.63  ...  11.481429  2.538224   8.25  21.34
1961-04-02  4.687315   5.09  14.96  ...   9.631429  3.191115   7.21  18.63
1961-04-09  2.845399   9.29  18.29  ...   7.238571  2.336182   7.62  17.16
1961-04-16  2.607118   3.92  15.79  ...   6.178571  2.161137   5.75  16.17
1961-04-23  4.631736   3.33  17.00  ...   9.551429  3.347972   6.75  19.21
1961-04-30  2.871425   2.54  14.96  ...   6.124286  2.840568   5.13  13.04
1961-05-07  3.750835   8.42  21.21  ...  11.585714  3.620819   4.79  28.08
1961-05-14  3.782947   4.63  12.33  ...   7.822857  5.460237   6.54  18.66
1961-05-21  2.468906   5.91  15.96  ...   7.114286  2.216889   6.63  12.00
1961-05-28  3.378537   3.58  20.96  ...   7.535714  2.575661   6.13  14.33
1961-06-04  1.868125   6.83  15.96  ...   9.035714  2.096989   8.71  17.00
1961-06-11  1.524836   6.04  11.58  ...   8.397143  2.158323   5.37  16.17
1961-06-18  3.509444   6.50  15.50  ...   9.594286  3.792400   7.29  25.25
1961-06-25  2.212460   5.13  10.37  ...  11.257143  2.286218  11.00  19.08
1961-07-02  2.902411   7.62  10.79  ...  10.268571  1.564144   6.96  21.87
1961-07-09  2.686658   7.41  14.92  ...  10.547143  3.657179   7.08  20.41
1961-07-16  3.849630   8.00  14.29  ...  10.157143  3.271899   5.04  20.25
1961-07-23  1.400010   4.08  12.67  ...   6.041429  1.439785   4.21  10.13
1961-07-30  3.203206   6.42  15.67  ...   9.470000  4.350268   7.87  22.17
1961-08-06  3.985226   5.54  15.59  ...   8.951429  2.903018   6.17  18.54
1961-08-13  2.053326   6.00  11.63  ...   7.235000  2.073777   5.88  14.29
1961-08-20  2.523416   9.17  14.04  ...  12.244286  2.730237   9.59  21.92
1961-08-27  3.174702   9.50  17.83  ...  12.507143  3.855302   5.75  23.38
1961-09-03  7.474025   2.42  12.75  ...   8.924286  3.993736   4.79  24.71
1961-09-10  4.003996   3.63  14.88  ...   7.565714  3.649278   5.41  15.83
1961-09-17  5.360585   7.29  26.50  ...  14.268571  5.128338  13.92  23.91
1961-09-24  3.445262   5.33  12.17  ...   6.798571  2.354092   4.54  20.96
1961-10-01  2.812482   7.87  17.58  ...  11.840000  3.908397   7.79  21.37
1961-10-08  5.060803   4.96  17.83  ...   7.662857  4.296870   4.79  17.83
1961-10-15  2.707483   4.21  20.96  ...   9.494286  3.569308   8.54  20.46
1961-10-22  5.998199   9.92  22.63  ...  16.461429  5.890511  10.88  24.71
1961-10-29  6.879973   4.79  23.09  ...  12.952857  6.277629   8.50  27.29
1961-11-05  3.900278   6.54  14.33  ...  11.864286  2.784450  10.29  20.17
1961-11-12  2.141191   3.83  20.41  ...   6.415714  2.843518   6.13  12.58
1961-11-19  3.208548   6.46  32.71  ...   6.031429  4.402588   0.71   9.59
1961-11-26  3.277904   4.42  14.46  ...   9.582857  2.747452   6.50  20.46
1961-12-03  5.107089   8.00  19.92  ...   7.911429  3.680477   5.50  19.04
1961-12-10  4.115506   9.71  20.54  ...  12.022857  4.156207  10.71  21.79
1961-12-17  3.587886   9.04  19.00  ...  11.058571  4.633398   5.50  22.83
1961-12-24  2.220866   8.08  22.13  ...   7.697143  4.637096   5.29  17.67

                                   MAL
                 mean       std    min    max       mean       std
Date
1961-01-01  18.500000       NaN  15.04  15.04  15.040000       NaN
1961-01-08  12.481429  4.349139  10.88  16.46  13.238571  1.773062
1961-01-15  11.125714  5.552215   5.17  16.92  11.024286  4.692355
1961-01-22   9.821429  3.626584   6.79  17.96  11.434286  4.237239
1961-01-29  20.930000  5.210726  17.50  27.63  22.530000  3.874721
1961-02-05  14.012857  4.210858   7.17  19.25  11.935714  4.336104
1961-02-12  21.832857  4.063753  17.04  21.84  19.155714  1.828705
1961-02-19  21.167143  5.910938  10.96  22.58  16.584286  4.685377
1961-02-26  16.304286  5.091162   6.67  23.87  14.322857  6.182283
1961-03-05  17.842857  4.332331   8.83  17.54  13.951667  3.021387
1961-03-12  16.701429  4.358759   5.54  22.54  14.420000  5.769890
1961-03-19  19.350000  3.779727  11.34  22.95  16.227143  4.331958
1961-03-26  14.037143  4.318069  13.13  22.50  18.134286  3.701846
1961-04-02  13.471429  4.179854   7.17  19.58  13.900000  3.924555
1961-04-09  11.712857  3.147781   7.21  15.34  11.371429  2.598271
1961-04-16   9.482857  3.641464   5.66  12.87   8.690000  2.747842
1961-04-23  13.620000  4.735096   4.96  20.46  12.470000  5.908542
1961-04-30   9.720000  2.948237   2.67  17.50   8.637143  5.108365
1961-05-07  17.548571  8.003490   3.83  26.58  14.571429  7.728504
1961-05-14  10.421429  3.968272   3.33  26.30  10.382857  7.858246
1961-05-21   9.624286  1.975853   5.91  14.96  10.612857  3.310819
1961-05-28  10.518571  3.024524   8.00  17.04  11.697143  3.811818
1961-06-04  12.298571  2.611139  10.63  17.96  13.597143  2.593586
1961-06-11  10.148571  3.993062   5.96  19.83  12.250000  4.925055
1961-06-18  15.351429  6.477887   6.13  24.71  15.025714  6.242673
1961-06-25  14.370000  2.498386  13.75  21.50  17.410000  3.063011
1961-07-02  14.535714  6.303747   8.50  16.79  12.133333  3.652313
1961-07-09  12.220000  4.537988  12.08  21.29  15.987143  3.665705
1961-07-16  13.520000  4.971060   5.96  21.96  12.524286  4.974273
1961-07-23   7.524286  2.050218   5.41  10.92   8.415714  2.133994
1961-07-30  12.841429  5.580903   6.13  25.37  13.761429  6.664574
1961-08-06  11.595714  4.901377   9.08  20.25  13.760000  4.448251
1961-08-13  10.934286  2.931302   5.88  15.16  10.125714  3.356585
1961-08-20  14.922857  4.086725  13.04  24.30  16.626667  3.934238
1961-08-27  16.251429  6.711322   8.29  22.29  16.485714  4.947608
1961-09-03  13.664286  7.678051   5.41  22.54  11.022857  6.308087
1961-09-10  10.700000  4.220584   3.37  20.25  11.034286  6.049619
1961-09-17  19.878571  4.464252  14.67  33.09  18.984286  6.332885
1961-09-24  11.018571  5.235868   5.25  14.62   9.814286  3.113507
1961-10-01  16.208571  5.091268   4.04  17.16  13.338571  4.696504
1961-10-08   8.810000  4.800403   4.83  19.62  11.410000  5.462002
1961-10-15  14.451429  4.113200  10.75  21.04  15.260000  4.098130
1961-10-22  17.477143  5.645871  13.46  33.45  23.641429  7.468377
1961-10-29  15.592857  7.056150   9.83  30.88  18.404286  8.340881
1961-11-05  16.322857  4.038493  13.37  23.58  19.195714  3.870800
1961-11-12   9.208571  2.532196   5.71  15.54  10.858571  3.690752
1961-11-19   5.875714  3.643285   2.00  13.25   5.737143  3.787654
1961-11-26  11.772857  5.407223   4.25  22.58  12.732857  6.475867
1961-12-03  11.464286  5.552648   5.88  21.29  14.725714  5.233192
1961-12-10  15.975714  4.667933   7.58  29.33  16.241429  7.345893
1961-12-17  15.112857  6.531043   6.50  21.12  14.644286  5.665006
1961-12-24   9.958571  5.065308   2.62  16.62   8.164286  5.048035

[52 rows x 48 columns]